nav{
    text-align: center;

    width: 1000px;
    height: 35px;
}
body{
    background-image: url("http://i.stack.imgur.com/l0JyZ.jpg");
}
nav{
    background-color: #40aee6;
}
li{
    display: inline;
    padding: 4px;
    color: black;
}
a{
    color: black;
}
header{
    text-align: right;
    height: auto;

}
div.data{
    float: left;
    width: 250px;
    height: 150px;
}
div.class{
    float: left;
}
div.pic {
    width: 300px;
    height: 250px;
    float: left;
}
div.gcontent{
    width: 255px;
    height: 155px;
    float: bottom;
}
div.naruto{
    width: 555px;
    float: left;
    text-align: center;
}
#container{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
div.ma{
    float: left;
    height: 50px;
}