nav{
    text-align: center;

    width: 1000px;
    height: 35px;
}
body{
    background-color: #247ba0;
    background-image: url("http://i.stack.imgur.com/l0JyZ.jpg");
}
li{
    display: inline;
    padding: 5px;
}
header{
    text-align: right;

}
div.data{
    float: left;
    width: 255px;
    height: 150px;
}
div.class{
    float: left;
}
div.pic{
    width: 255px;
    height: 255px;
}
div.gcontent{
    width: 255px;
    height: 155px;
    float: bottom;
}
div.naruto{
    width:550px;
    float: right;
    text-align: left;
}
#container{
    width:900px;
    margin-left: auto;
    margin-right: auto;
}