nav{
    text-align: center;
    width: 1060px;
    height: 32px;
    background-color: #2ecaff;
}

body{
    background-color: #2d2d2d;
}

#container{
    width: 1060px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b6b6b6;
}

a{
    color: #69c8ff;
}

header{
    text-align: right;
    height: 45px;
    width: 1060px;
    float: center;
    background-color: #2d2d2d;

}

div.data{
    float: left;
    width: 250px;
    height: 150px;
}
div.class{
    float: left;
}

div.pic {
    width: 300px;
    height: 250px;
    float: center;
}

div.gcontent{
    width: 255px;
    height: 155px;
    float: bottom;
}

div.naruto{
    width: 555px;
    float: right;
    text-align: center;
}

div.ma{
    float: left;
    height: 50px;
    color: #5f5f5f;
}

div.mom{
     float: center;
     text-align: top;

 }
ul{
    text-align: center;
    float: center;
}

#primary_nav_wrap
{
    margin-top:15px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:inherit;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background: #2ecaff;
}

#primary_nav_wrap ul li:hover
{
    background: #368ef6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}