nav{
    text-align: center;
    width: 1000px;
    height: 35px;
}
body{
    background-image: url("congruent_outline.png");
}
#container{
    background-color: #cbcbcb;
    width: auto;
    height: auto;
}
nav{
<<<<<<< HEAD
    background-color: #40aee6;
=======
    background-color: #3babe6;
    text-align: center;
    float: inherit;
>>>>>>> fa8a27093d7bb61203261f735ab011016bef0abe
}
li{
    display: inline;
    padding: 4px;
    color: #69c8ff;
}
a{
    color: #69c8ff;
}
header{
    text-align: right;
    height: auto;
    width: 1000px;
    float: center;

}
div.data{
    float: left;
    width: 250px;
    height: 150px;
}
div.class{
    float: left;
}
div.pic {
    width: 300px;
    height: 250px;
    float: left;
}
div.gcontent{
    width: 255px;
    height: 155px;
    float: bottom;
}
div.naruto{
    width: 555px;
    float: left;
    text-align: center;
}
#container{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
div.ma{
    float: left;
    height: 50px;
    color: #505050;
}
#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}