nav{
    text-align: center;
    background-color: #70c1b3;
    width: 1000px;
    height: 35px;
}
body{
    background-color: #247ba0;
}
li{
    background-color: #f1ffbb;
    display: inline;
    padding: 5px;
}
#header{
    float: right;
    background-color: #247ba0;
}
div.data{
    float: left;
    width: 255px;
    height: 150px;
    background-color: #FF1654;
}
div.class{
    float: left;
    background-color: #b313ff;
}
div.pic{
    width: 255px;
    height: 255px;
    background-color: #325aff;
}
div.gcontent{
    width: 255px;
    height: 155px;
    background-color: #f3beff;
    float: bottom;
}
div.naruto{
    width:550px;
    float: right;
    text-align: left;
    background-color: #ddf3ff;
}
#container{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}