
#grayBack {
    z-index: 98; position: relative;
    display: none;
    float: left;
    width: 100%;
}
#error {
    font-size: 20px;
    color: red;
}

#clientsCTA{
    float: left;
    z-index: 97; position: relative;
    height: 400px;
    color: #CCCCCC;
    text-align:center;
    font-size: 46px;
    text-decoration: none;
    width: 60%;
    margin: auto;
    background-color: darkslategray;
    padding-top: 10%;
    padding-bottom: 10%;
}
.sides {
     float: left;
     width: 20%;
     background-color: rgba(32, 22, 11, 0.98);
     display: none;
     padding-bottom: 50%;
 }
/* above is the login/register css*/
/* Below is the slider css */
#slideshow {
    z-index: 10;
    margin: 50px auto;
    position: relative;
    width: 100%;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.image{
    height: 400px;
    width: 100%;
}
