.clientsCTA {
    color: #CCCCCC;
    text-align:center;
    font-size: 46px;
    text-decoration: none;
    width: 800px;
    margin: auto;
    background-color: darkslategray;
    display: none;
    padding-top: 10%;
    padding-bottom: 10%;

}
#error {
    font-size: 20px;
    color: red;

}