.jose {
    position: absolute;
    width: 100%;
}

body {
    background-image: url("http://i.stack.imgur.com/l0JyZ.jpg");
    background-size: cover;
}
/* slider will go in here */
.myDIV {
    width: 100%;
    height: 350px;
    background-color:blue;
    box-shadow: 0px 3px #888888;

}

.start a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #e2e2e2;
    -webkit-text-stroke: 1px black;
    font-size: 50px;

}
.start a:visited  {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #e2e2e2;
    -webkit-text-stroke: 1px black;
    font-size: 50px;

}
.hover:hover {
    background-color: #00cdff;
    border:1px solid transparent;
    transition: background-color 500ms ease;
}


/* buttons */

.auth_button {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 14px;
    color: rgba(255,255,255,.9);
    margin-right: 50px;
}
.header_button_login {
    background-color: #0199d9;
    right: 5px;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 3px 0px -2px gray;
}
.button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.header_center{
    position: relative;
    left: 150px;
}

.header_right  {
    float: right;
}

.button:hover, .a:hover {
    background-color: #00B3FF;
    transition: background-color 500ms ease;

}

/* catagories */
.wrapper {
    margin: 50px auto;
}

.col-1 {
    width:28%;
    float:right;
}

.col-1 div{
    height:70px;
    margin:10px;
    margin-bottom: 40px;
}

.box{
    width: 150px;
    height: 40px;
    position: static;
    border:1px solid #DDDDDD;
    border-radius:10px;
    text-align: center;
    font-size: 18px;
    background-color: #222222;
    color:white;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
}
.box:hover {
    background-color: #FF4136;
    border:1px solid transparent;
    transition: background-color 500ms ease;
}

#grayBack {
    z-index: 98; position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 550px;
}
#error {
    font-size: 20px;
    color: red;
}

#clientsCTA{
    float: left;
    z-index: 97; position: relative;

    color: #CCCCCC;
    text-align:center;
    font-size: 46px;
    text-decoration: none;
    width: 60%;
    margin: auto;
    background-color: darkslategray;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 550px;
}
.sides {
    float: left;
    width: 20%;
    background-color: rgba(32, 22, 11, 0.98);
    display: none;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 550px;
}
